FORMAT: 1A
HOST: https://demo.entermediasoftware.com

# Content
This API will allow JSON Interaction with the EnterMedia Media Database

# Group Authentication

This API will allow you to authenticate and retrieve the Entermedia Key for future requests.

## Authenticate [/mediadb/json/users/authenticate]

### Authenticate as user [POST]

+ Parameters 

    + username (required) ... User name
    + password (required) ... User name
    

+ Request (application/json)

    {
    "username": "admin",
    "password": "admin"
    }

+ Response 200 (application/json)
    
   
    {
        "authenticated": true,
        "user":"admin",
        "entermediakey": "$entermediakey"
    }


+ Model (application/json)
    
   + Body

            {
                "username": "admin",
                "password": "admin"
            }






  


# Group Assets
Notes related resources of the **Assets API**

## Asset [/mediadb/json/assets/{id}]
A single Asset object.

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Asset to perform action with. Has example value.

+ Model (application/json)
    
    + Headers
    
            X-Mashery-Message-ID: 44b97afc-43cd-479d-b98d-1784635b1312
            X-Mashery-Responder: prod-j-worker-us-east-1c-31.mashery.com

    + Body

            {
                "id": 1,
                "assetType": "image",
                "classification": "file",
                "version": 1,
                "key": "heroImage",
                "name": "Hero Image",
                "description": "Image of a man wearing a jacket",
                "owner": {
                    "Id": 1093028,
                    "Email": "agillaspie@exacttarget.com",
                    "Name": "Adam Gillaspie",
                    "UserId": "cm-agillaspie"
                },
                "createdDate": "2014-01-30T11:18:31-06:00",
                "createdBy": {
                    "Id": 1093028,
                    "Email": "agillaspie@exacttarget.com",
                    "Name": "Adam Gillaspie",
                    "UserId": "cm-agillaspie"
                },
                "modifiedDate": "2014-01-31T10:13:53-06:00",
                "modifiedBy": {
                    "Id": 1097912,
                    "Email": "contentmanagement@exacttarget.com",
                    "Name": "Content Management User",
                    "UserId": "cm-contentuser"
                },
                "enterpriseId": 1084683,
                "memberId": 1084683,
                "status": "Active",
                "locked": false,
                "archived": false,
                "favorite": true,
                "category": {
                    "id": 328,
                    "name": "promo",
                    "path": "/agency/promo"
                },
                "tags": [
                    "hero",
                    "man",
                    "jacket",
                    "columbia"
                ],
                "channels": {
                    "email": true,
                    "mms": true,
                    "print": false,
                    "push": true,
                    "site": true,
                    "sms": false,
                    "social": false,
                    "web": false
                },
                "variations": {
                    "original": {
                        "url": "http://image.exacttarget.com/media/originals/heroImage/heroImage.jpg",
                        "width": 734,
                        "height": 546
                    },
                    "image_large": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage1024x768.jpg",
                        "width": 1024,
                        "height": 768
                    },
                    "image_medium": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage550x350.jpg",
                        "width": 550,
                        "height": 350
                    },
                    "image_thumbnail": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage200x200.jpg",
                        "width": 200,
                        "height": 200
                    },
                    "small_crop": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage110x62cropped.jpg",
                        "width": 110,
                        "height": 62
                    }
                },
                "campaigns": [
                    61,
                    102
                ],
                "publishedLocations": {
                    "akamai": {
                        "href": "http://image.exacttarget.com/lib/fec3167874670174/m/1/heroImage.jpg",
                        "publishDate": "2014-02-15T00:00:00-06:00",
                        "expirationDate": "2014-04-15T00:00:00-06:00"
                    },
                    "amazonS3": {
                        "href": "http://s3.amazonaws.com/fec3167874670174/heroImage.jpg",
                        "publishDate": "2014-02-15T00:00:00-06:00",
                        "expirationDate": "2014-04-15T00:00:00-06:00"
                    }
                },
                "customFields": {
                    "SKU": "1047191",
                    "Brand": "Columbia"
                },
                "fileProperties": {
                    "fileName": "heroImage.jpg",
                    "fileUrl": "http://image.exacttarget.com/media/originals/heroImage/heroImage.jpg",
                    "sourcePath": "//etincrep03/1084683/heroImage.jpg",
                    "fileFormat": "JPG",
                    "fileSize": "7140",
                    "width": 199,
                    "height": 254,
                    "lensType": "",
                    "focalLength": "",
                    "cameraModel": "",
                    "iso": "",
                    "colorSpace": "",
                    "colorType": "",
                    "shutterSpeed": "",
                    "aperture": ""
                }
            }

### Retrieve an Asset [GET]
+ Response 200 (application/json)
    
    [Asset][]

### Update an Asset [PUT]
+ Request (application/json)

    + Body

            {
                "id": 1,
                "key": "heroImage",
                "name": "Hero Image",
                "description": "Image of a man wearing a jacket",
                "category": {
                    "id": 328
                },
                "status": "Active",
                "locked": false,
                "favorite": true,
                "customFields": {
                    "SKU": "1047191",
                    "Brand": "Columbia"
                }
            }

+ Response 200 (application/json)

    [Asset][]

### Delete an Asset [DELETE]
+ Response 204


# Group data



## Assets Collection [/assets]
A collection of Asset objects.

+ Model (application/json)
    
    + Headers
    
            X-Mashery-Message-ID: 44b97afc-43cd-479d-b98d-1784635b1312
            X-Mashery-Responder: prod-j-worker-us-east-1c-31.mashery.com

    + Body
    
            { 
                "count": 3,
                "pageSize": 50,
                "page": 1,
                "items": [
                    {
                        "id": 1,
                        "assetType": "image",
                        "classification": "file",
                        "version": 1,
                        "key": "heroImage",
                        "name": "Hero Image",
                        "description": "Image of a man wearing a jacket",
                        "owner": {
                            "Id": 1093028,
                            "Email": "agillaspie@exacttarget.com",
                            "Name": "Adam Gillaspie",
                            "UserId": "cm-agillaspie"
                        },
                        "createdDate": "2014-01-30T11:18:31-06:00",
                        "createdBy": {
                            "Id": 1093028,
                            "Email": "agillaspie@exacttarget.com",
                            "Name": "Adam Gillaspie",
                            "UserId": "cm-agillaspie"
                        },
                        "modifiedDate": "2014-01-31T10:13:53-06:00",
                        "modifiedBy": {
                            "Id": 1097912,
                            "Email": "contentmanagement@exacttarget.com",
                            "Name": "Content Management User",
                            "UserId": "cm-contentuser"
                        },
                        "enterpriseId": 1084683,
                        "memberId": 1084683,
                        "status": "Active",
                        "locked": false,
                        "archived": false,
                        "favorite": true,
                        "category": {
                            "id": 328,
                            "name": "promo",
                            "path": "/agency/promo"
                        },
                        "tags": [
                            "hero",
                            "man",
                            "jacket",
                            "columbia"
                        ],
                        "channels": {
                            "email": true,
                            "mms": true,
                            "print": false,
                            "push": true,
                            "site": true,
                            "sms": false,
                            "social": false,
                            "web": false
                        },
                        "variations": {
                            "original": {
                                "url": "http://image.exacttarget.com/media/originals/heroImage/heroImage.jpg",
                                "width": 734,
                                "height": 546
                            },
                            "image_large": {
                                "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage1024x768.jpg",
                                "width": 1024,
                                "height": 768
                            },
                            "image_medium": {
                                "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage550x350.jpg",
                                "width": 550,
                                "height": 350
                            },
                            "image_thumbnail": {
                                "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage200x200.jpg",
                                "width": 200,
                                "height": 200
                            },
                            "small_crop": {
                                "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage110x62cropped.jpg",
                                "width": 110,
                                "height": 62
                            }
                        },
                        "campaigns": [
                            61,
                            102
                        ],
                        "publishedLocations": {
                            "akamai": {
                                "href": "http://image.exacttarget.com/lib/fec3167874670174/m/1/heroImage.jpg",
                                "publishDate": "2014-02-15T00:00:00-06:00",
                                "expirationDate": "2014-04-15T00:00:00-06:00"
                            },
                            "amazonS3": {
                                "href": "http://s3.amazonaws.com/fec3167874670174/heroImage.jpg",
                                "publishDate": "2014-02-15T00:00:00-06:00",
                                "expirationDate": "2014-04-15T00:00:00-06:00"
                            }
                        },
                        "customFields": {
                            "SKU": "1047191",
                            "Brand": "Columbia"
                        },
                        "fileProperties": {
                            "fileName": "heroImage.jpg",
                            "fileUrl": "http://image.exacttarget.com/media/originals/heroImage/heroImage.jpg",
                            "sourcePath": "//etincrep03/1084683/heroImage.jpg",
                            "fileFormat": "JPG",
                            "fileSize": "7140",
                            "width": 199,
                            "height": 254,
                            "lensType": "",
                            "focalLength": "",
                            "cameraModel": "",
                            "iso": "",
                            "colorSpace": "",
                            "colorType": "",
                            "shutterSpeed": "",
                            "aperture": ""
                        }
                    },
                    {
                        "id": 3,
                        "assetType": "imagePlusText",
                        "classification": "content",
                        "version": 3,
                        "key": "exampleImageAndContent",
                        "name": "Example Image & Text Content",
                        "description": "Hero image for our NYE mobile page",
                        "owner": {
                            "Id": 1093028,
                            "Email": "agillaspie@exacttarget.com",
                            "Name": "Adam Gillaspie",
                            "UserId": "cm-agillaspie"
                        },
                        "createdDate": "2014-01-30T11:18:31-06:00",
                        "createdBy": {
                            "Id": 1093028,
                            "Email": "agillaspie@exacttarget.com",
                            "Name": "Adam Gillaspie",
                            "UserId": "cm-agillaspie"
                        },
                        "modifiedDate": "2014-01-31T10:13:53-06:00",
                        "modifiedBy": {
                            "Id": 1097912,
                            "Email": "contentmanagement@exacttarget.com",
                            "Name": "Content Management User",
                            "UserId": "cm-contentuser"
                        },
                        "enterpriseId": 1084683,
                        "memberId": 1084683,
                        "status": "Active",
                        "locked": false,
                        "archived": false,
                        "favorite": true,
                        "category": {
                            "id": 319,
                            "name": "example",
                            "path": "/something/another/example"
                        },
                        "tags": [
                            "mobile",
                            "new_years",
                            "blue"
                        ],
                        "status": "Active",
                        "locked": true,
                        "archived": false,
                        "favorite": false,
                        "channels": {
                            "email": true,
                            "mms": true,
                            "print": false,
                            "push": true,
                            "site": true,
                            "sms": false,
                            "social": false,
                            "web": false
                        },
                        "campaigns": [
                            38,
                            57,
                            61
                        ],
                        "customFields": {
                            "SKU": "1047191",
                            "Brand": "Columbia"
                        },
                        "contentFields": {
                            "body": "Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. cities fall but they are rebuilt. heroes die but they are remembered. let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. the man likes to play chess; let's get him some rocks. multiply your anger by about a hundred, kate, that's how much he thinks he loves you. cities fall but they are rebuilt. heroes die but they are remembered. i did the same thing to gandhi, he didn't eat for three weeks. well, what is it today? more spelunking? i once heard a wise man say there are no perfect men. only perfect intentions. you measure yourself by the people who measure themselves by you. i now issue a new commandment: thou shalt do the dance.",
                            "link": 2,
                            "image": 1
                        }
                        "contentFields": {
                            "bodyText": "Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie.",
                            "imageLink": {
                                "assetId": 20,
                                "uri": "/assets/20"
                            },
                            "image": {
                                "assetId": 1,
                                "uri": "/assets/1"
                            }
                        },
                        "content": "<table data-assetid=\"3\"><tr><td><a data-field=\"imageLink\" href=\"{{imageLink}}\" target=\"{{imageLink.target}}\" title=\"{{imageLink.title}}\"><img data-field=\"image\" src=\"{{image}}\" alt=\"{{image.alt}}\" width=\"{{image.width}}\" height=\"{{image.height}}\"></a></td></tr><tr><td><h2 data-field=\"bodyText\" style=\"font-size:22px; color:#4e8abe;\">{{bodyText}}</h2></td></tr></table>"
                    },
                    {
                        "id": 8,
                        "assetType": "article",
                        "classification": "content",
                        "version": 2,
                        "key": "exampleBlogPost",
                        "name": "Example Blog Post",
                        "description": "Article about a squirrel who waterskis",
                        "owner": {
                            "Id": 1093028,
                            "Email": "agillaspie@exacttarget.com",
                            "Name": "Adam Gillaspie",
                            "UserId": "cm-agillaspie"
                        },
                        "createdDate": "2014-01-30T11:18:31-06:00",
                        "createdBy": {
                            "Id": 1093028,
                            "Email": "agillaspie@exacttarget.com",
                            "Name": "Adam Gillaspie",
                            "UserId": "cm-agillaspie"
                        },
                        "modifiedDate": "2014-01-31T10:13:53-06:00",
                        "modifiedBy": {
                            "Id": 1097912,
                            "Email": "contentmanagement@exacttarget.com",
                            "Name": "Content Management User",
                            "UserId": "cm-contentuser"
                        },
                        "enterpriseId": 1084683,
                        "memberId": 1084683,
                        "status": "Active",
                        "locked": false,
                        "archived": false,
                        "favorite": true,
                        "category": {
                            "id": 317,
                            "name": "another",
                            "tree": "/something/another"
                        },
                        "tags": [
                            "squirrel",
                            "waterski"
                        ],
                        "status": "Active",
                        "locked": true,
                        "archived": false,
                        "favorite": false,
                        "channels": {
                            "email": true,
                            "mms": false,
                            "print": true,
                            "push": true,
                            "site": true,
                            "sms": false,
                            "social": true,
                            "web": true
                        },
                        "campaigns": [
                            38,
                            82
                        ],
                        "customFields": {
                            "PublisherId": 118
                        },
                        "contentFields": {
                            "author": "Adam Gillaspie",
                            "body": "<p>we're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber, i mean baxter. we got no food we got no money and our pets heads are falling off! haaaaaaarry. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber.</p><p> brain freeze. excuse me, i'd like to ass you a few questions. kinda hot in these rhinos. here she comes to wreck the day. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. kinda hot in these rhinos. excuse me, i'd like to ass you a few questions. your entrance was good, his was better. your entrance was good, his was better. it's because i'm green isn't it! look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. look ma i'm road kill.</p>",
                            "summary": "We're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry....",
                            "title": "A Talented Squirrel",
                            "imageLink": {
                                "assetId": 4,
                                "uri": "/assets/4"
                            },
                            "image": {
                                "assetId": 6,
                                "uri": "/assets/6"
                            }
                            "link": {
                                "assetId": 4,
                                "uri": "/assets/4"
                            },
                            "characterCount": 1239,
                            "wordCount": 231
                        },
                        "content": "<table data-assetid=\"8\"><tr><td><a data-field=\"imageLink\" href=\"{{imageLink}}\" target=\"{{imageLink.target}}\" title=\"{{imageLink.title}}\"><img data-field=\"image\" src=\"{{image}}\" alt=\"{{image.alt}}\" width=\"{{image.width}}\" height=\"{{image.height}}\"></a></td></tr><tr><td><p data-field=\"summary\" style=\"font-size:14px; color:#333333;\">{{summary}}</p></td></tr></table>"
                    }
                ]
            }

### Create an Asset [POST]
+ Request (application/json)

    + Body

            {
                "assetType": "article",
                "key": "exampleBlogPost",
                "name": "Example Blog Post",
                "description": "Article about a squirrel who waterskis",
                "category": {
                    "id": 317
                },
                "status": "Active",
                "customFields": {
                    "PublisherId": 118
                },
                "contentFields": {
                    "author": "Adam Gillaspie",
                    "body": "<p>we're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber, i mean baxter. we got no food we got no money and our pets heads are falling off! haaaaaaarry. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber.</p><p> brain freeze. excuse me, i'd like to ass you a few questions. kinda hot in these rhinos. here she comes to wreck the day. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. kinda hot in these rhinos. excuse me, i'd like to ass you a few questions. your entrance was good, his was better. your entrance was good, his was better. it's because i'm green isn't it! look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. look ma i'm road kill.</p>",
                    "summary": "We're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry....",
                    "title": "A Talented Squirrel",
                    "imageLink": {
                        "assetId": 4
                    },
                    "image": {
                        "assetId": 6
                    }
                    "link": {
                        "assetId": 4
                    }
                },
                "content": "<table data-assetid=\"8\"><tr><td><a data-field=\"imageLink\" href=\"{{imageLink}}\" target=\"{{imageLink.target}}\" title=\"{{imageLink.title}}\"><img data-field=\"image\" src=\"{{image}}\" alt=\"{{image.alt}}\" width=\"{{image.width}}\" height=\"{{image.height}}\"></a></td></tr><tr><td><p data-field=\"summary\" style=\"font-size:14px; color:#333333;\">{{summary}}</p></td></tr></table>"
            }

+ Response 201 (application/json)

        {
            "id": 8,
            "assetType": "article",
            "classification": "content",
            "version": 2,
            "key": "exampleBlogPost",
            "name": "Example Blog Post",
            "description": "Article about a squirrel who waterskis",
            "owner": {
                "Id": 1093028,
                "Email": "agillaspie@exacttarget.com",
                "Name": "Adam Gillaspie",
                "UserId": "cm-agillaspie"
            },
            "createdDate": "2014-01-30T11:18:31-06:00",
            "createdBy": {
                "Id": 1093028,
                "Email": "agillaspie@exacttarget.com",
                "Name": "Adam Gillaspie",
                "UserId": "cm-agillaspie"
            },
            "modifiedDate": "2014-01-31T10:13:53-06:00",
            "modifiedBy": {
                "Id": 1097912,
                "Email": "contentmanagement@exacttarget.com",
                "Name": "Content Management User",
                "UserId": "cm-contentuser"
            },
            "enterpriseId": 1084683,
            "memberId": 1084683,
            "status": "Active",
            "locked": false,
            "archived": false,
            "favorite": true,
            "category": {
                "id": 317,
                "name": "another",
                "tree": "/something/another"
            },
            "tags": [
                "squirrel",
                "waterski"
            ],
            "status": "Active",
            "locked": true,
            "archived": false,
            "favorite": false,
            "channels": {
                "email": true,
                "mms": false,
                "print": true,
                "push": true,
                "site": true,
                "sms": false,
                "social": true,
                "web": true
            },
            "campaigns": [
                38,
                82
            ],
            "customFields": {
                "PublisherId": 118
            },
            "contentFields": {
                "author": "Adam Gillaspie",
                "body": "<p>we're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber, i mean baxter. we got no food we got no money and our pets heads are falling off! haaaaaaarry. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber.</p><p> brain freeze. excuse me, i'd like to ass you a few questions. kinda hot in these rhinos. here she comes to wreck the day. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. kinda hot in these rhinos. excuse me, i'd like to ass you a few questions. your entrance was good, his was better. your entrance was good, his was better. it's because i'm green isn't it! look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. look ma i'm road kill.</p>",
                "summary": "We're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry....",
                "title": "A Talented Squirrel",
                "imageLink": {
                    "assetId": 4,
                    "uri": "/assets/4"
                },
                "image": {
                    "assetId": 6,
                    "uri": "/assets/6"
                }
                "link": {
                    "assetId": 4,
                    "uri": "/assets/4"
                },
                "characterCount": 1239,
                "wordCount": 231
            },
            "content": "<table data-assetid=\"8\"><tr><td><a data-field=\"imageLink\" href=\"{{imageLink}}\" target=\"{{imageLink.target}}\" title=\"{{imageLink.title}}\"><img data-field=\"image\" src=\"{{image}}\" alt=\"{{image.alt}}\" width=\"{{image.width}}\" height=\"{{image.height}}\"></a></td></tr><tr><td><p data-field=\"summary\" style=\"font-size:14px; color:#333333;\">{{summary}}</p></td></tr></table>"
        }

### Retrieve All Assets [GET]
+ Parameters
    + pageSize (optional, number, `100`) ... Numeric size of the Assets collection to return on each page. Default is `50`.
    + page (optional, number, `3`) ... Numeric index of the page to return from the total result set. Default is `1`.

+ Response 200 (application/json)
    
    [Assets Collection][]



# Group Upload
Notes related resources of the **Upload API**

## Upload [/assets/upload]
An Asset created from a file upload.

### Create an Asset via File Upload [POST]
+ Request (multipart/form-data)

    + Headers
    
            Content-Length: 1072

    + Body

            --AaB03x
            Content-Disposition: form-data; name="categoryId"
        
            319
            --AaB03x
            Content-Disposition: form-data; name="files"; filename="exampleImage.jpg"
            Content-Type: image/jpeg
        
            ... contents of exampleImage.jpg ...
            --AaB03x--

+ Response 201 (application/json)

    [Asset][]

## Zip Upload [/assets/upload/zip]
Multiple Assets created from a zip archive upload.

### Create Assets via Zip Upload [POST]
+ Request (multipart/form-data)

    + Headers
    
            Content-Length: 2104

    + Body

            --AaB03x
            Content-Disposition: form-data; name="categoryId"
        
            319
            --AaB03x
            Content-Disposition: form-data; name="files"; filename="exampleArchive.zip"
            Content-Type: application/octet-stream
        
            ... contents of exampleArchive.zip ...
            --AaB03x--

+ Response 201 (application/json)

    [Assets Collection][]

## URL Upload [/assets/upload/url]
An Asset created from downloading an externally-hosted file.

### Create an Asset from a URL [POST]
+ Request (application/json)

    + Body

            {
                "url": "http://example.com/image.jpg"
            }

+ Response 201 (application/json)



# Group Search
Notes related resources of the **Search API**

## Search [/mediadb/json/search/asset]
A new Search query that returns a collection of Assets.

+ Model (application/json)
    
    + Headers
    
            X-Mashery-Message-ID: 44b97afc-43cd-479d-b98d-1784635b1312
            X-Mashery-Responder: prod-j-worker-us-east-1c-31.mashery.com

    + Body
    
            { 
                
                "query": [
                    {
                        "field": "name",
                        "operator": "startsWith",
                        "grouping": "or",
                        "values": [
                            "hero",
                            "man"
                        ]
                    },
                    {
                        "field": "longdescription",
                        "operator": "contains",
                        "value": "jacket",
                        "grouping": "or",
                        "values": [
                            "jacket"
                        ]
                    },
                    {
                        "field": "tags",
                        "operator": "contains",
                        "value": "jacket",
                        "grouping": "or",
                        "values": [
                            "jacket"
                        ]
                    }
                ]
            }

### Retrieve a Search Result Set [GET]
+ Request

    [Search][]

+ Response 200 (application/json)    
    
    [Assets Collection][]


# Group Categories
Notes related resources of the **Categories API**

## Category [/categories/{id}]
A single Category object.

+ Parameters
    + id (number, `1`) ... The id of the Category.

+ Model (application/json)
    
    + Headers
    
            X-Mashery-Message-ID: 44b97afc-43cd-479d-b98d-1784635b1312
            X-Mashery-Responder: prod-j-worker-us-east-1c-31.mashery.com

    + Body
    
            {
                "id": 20,
                "parentId": 6,
                "name": "Advertisements",
                "description": "Assets for use in Partner Ads",
                "createdDate": "2014-01-30T11:18:31-06:00",
                "createdBy": 1097912,
                "modifiedDate": "2014-01-31T10:13:53-06:00",
                "modifiedBy": 1093028
            }

### Retrieve a Category [GET]
+ Response 200 (application/json)    
    
    [Category][]

### Update a Category [PUT]
+ Request
    
    [Category][]

+ Response 200 (application/json)    
    
    [Category][]

### Delete a Category [DELETE]
+ Response 204    

## Categories Collection [/categories]
A collection of Category objects.

+ Model (application/json)
    
    + Headers
    
            X-Mashery-Message-ID: 44b97afc-43cd-479d-b98d-1784635b1312
            X-Mashery-Responder: prod-j-worker-us-east-1c-31.mashery.com

    + Body
    
            { 
                "count": 2,
                "pageSize": 50,
                "page": 1,
                "items": [
                    {
                        "id": 20,
                        "parentId": 6,
                        "name": "Advertisements",
                        "description": "Assets for use in Partner Ads",
                        "createdDate": "2014-01-30T11:18:31-06:00",
                        "createdBy": 1097912,
                        "modifiedDate": "2014-01-31T10:13:53-06:00",
                        "modifiedBy": 1093028
                    },
                    {
                        "id": 28,
                        "parentId": 12,
                        "name": "Social",
                        "description": "Facebook and Twitter Media",
                        "createdDate": "2014-01-30T11:18:31-06:00",
                        "createdBy": 1097912,
                        "modifiedDate": "2014-01-31T10:13:53-06:00",
                        "modifiedBy": 1093028
                    }
                ]
            }

### Create a Category [POST]
+ Request (application/json)
    
    + Body
        
            {
                "parentId": 6,
                "name": "Advertisements",
                "description": "Assets for use in Partner Ads"
            }

+ Response 200 (application/json)    
    
    [Category][]

### Retrieve All Categories [GET]
+ Parameters
    + pageSize (optional, number, `100`) ... Numeric size of the Categories collection to return on each page. Default is `50`.
    + page (optional, number, `3`) ... Numeric index of the page to return from the total result set. Default is `1`.

+ Response 200 (application/json) 

    [Categories Collection][]
    
    
    
    