FORMAT: 1A
HOST: https://demo.entermediasoftware.com

# EnterMedia JSON Rest Api
This API will allow JSON Interaction with the EnterMedia Media Database

# Group Authentication

This API will allow you to authenticate and retrieve the Entermedia Key for future requests.

## Authenticate [/mediadb/services/users/authenticate]

### Authenticate as user [POST]

+ Parameters 

    + id (required) ... User name
    + password (required) ... User name
    

+ Request (application/json)

    {
    "id": "admin",
    "password": "admin"
    }

+ Response 200 (application/json)
    
   
    {
        "authenticated": true,
        "user":"admin",
        "entermediakey": "$entermediakey"
    }


+ Model (application/json)
    
   + Body

            {
                "id": "admin",
                "password": "admin"
            }






  


# Group Assets
Notes related resources of the **Assets API**

## Asset [/mediadb/services/assets/{id}]
A single Asset object.

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Asset to perform action with. Has example value.

+ Model (application/json)
    
    + Headers
    
            X-Mashery-Message-ID: 44b97afc-43cd-479d-b98d-1784635b1312
            X-Mashery-Responder: prod-j-worker-us-east-1c-31.mashery.com

    + Body

            {
                "id": 1,
                "assetType": "image",
                "classification": "file",
                "version": 1,
                "key": "heroImage",
                "name": "Hero Image",
                "description": "Image of a man wearing a jacket",
                "owner": {
                    "Id": 1093028,
                    "Email": "agillaspie@exacttarget.com",
                    "Name": "Adam Gillaspie",
                    "UserId": "cm-agillaspie"
                },
                "createdDate": "2014-01-30T11:18:31-06:00",
                "createdBy": {
                    "Id": 1093028,
                    "Email": "agillaspie@exacttarget.com",
                    "Name": "Adam Gillaspie",
                    "UserId": "cm-agillaspie"
                },
                "modifiedDate": "2014-01-31T10:13:53-06:00",
                "modifiedBy": {
                    "Id": 1097912,
                    "Email": "contentmanagement@exacttarget.com",
                    "Name": "Content Management User",
                    "UserId": "cm-contentuser"
                },
                "enterpriseId": 1084683,
                "memberId": 1084683,
                "status": "Active",
                "locked": false,
                "archived": false,
                "favorite": true,
                "category": {
                    "id": 328,
                    "name": "promo",
                    "path": "/agency/promo"
                },
                "tags": [
                    "hero",
                    "man",
                    "jacket",
                    "columbia"
                ],
                "channels": {
                    "email": true,
                    "mms": true,
                    "print": false,
                    "push": true,
                    "site": true,
                    "sms": false,
                    "social": false,
                    "web": false
                },
                "variations": {
                    "original": {
                        "url": "http://image.exacttarget.com/media/originals/heroImage/heroImage.jpg",
                        "width": 734,
                        "height": 546
                    },
                    "image_large": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage1024x768.jpg",
                        "width": 1024,
                        "height": 768
                    },
                    "image_medium": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage550x350.jpg",
                        "width": 550,
                        "height": 350
                    },
                    "image_thumbnail": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage200x200.jpg",
                        "width": 200,
                        "height": 200
                    },
                    "small_crop": {
                        "url": "http://image.exacttarget.com/media/generated/heroImage/heroImage110x62cropped.jpg",
                        "width": 110,
                        "height": 62
                    }
                },
                "campaigns": [
                    61,
                    102
                ],
                "publishedLocations": {
                    "akamai": {
                        "href": "http://image.exacttarget.com/lib/fec3167874670174/m/1/heroImage.jpg",
                        "publishDate": "2014-02-15T00:00:00-06:00",
                        "expirationDate": "2014-04-15T00:00:00-06:00"
                    },
                    "amazonS3": {
                        "href": "http://s3.amazonaws.com/fec3167874670174/heroImage.jpg",
                        "publishDate": "2014-02-15T00:00:00-06:00",
                        "expirationDate": "2014-04-15T00:00:00-06:00"
                    }
                },
                "customFields": {
                    "SKU": "1047191",
                    "Brand": "Columbia"
                },
                "fileProperties": {
                    "fileName": "heroImage.jpg",
                    "fileUrl": "http://image.exacttarget.com/media/originals/heroImage/heroImage.jpg",
                    "sourcePath": "//etincrep03/1084683/heroImage.jpg",
                    "fileFormat": "JPG",
                    "fileSize": "7140",
                    "width": 199,
                    "height": 254,
                    "lensType": "",
                    "focalLength": "",
                    "cameraModel": "",
                    "iso": "",
                    "colorSpace": "",
                    "colorType": "",
                    "shutterSpeed": "",
                    "aperture": ""
                }
            }

### Retrieve an Asset [GET]
+ Response 200 (application/json)
    
    [Asset][]

### Update an Asset [PUT]
+ Request (application/json)

    + Body

            {
                "id": 1,
                "key": "heroImage",
                "name": "Hero Image",
                "description": "Image of a man wearing a jacket",
                "category": {
                    "id": 328
                },
                "status": "Active",
                "locked": false,
                "favorite": true,
                "customFields": {
                    "SKU": "1047191",
                    "Brand": "Columbia"
                }
            }

+ Response 200 (application/json)

    [Asset][]

### Delete an Asset [DELETE]
+ Response 204




### Create an Asset [POST]
+ Request (application/json)

    + Body

            {
                "assetType": "article",
                "key": "exampleBlogPost",
                "name": "Example Blog Post",
                "description": "Article about a squirrel who waterskis",
                "category": {
                    "id": 317
                },
                "status": "Active",
                "customFields": {
                    "PublisherId": 118
                },
                "contentFields": {
                    "author": "Adam Gillaspie",
                    "body": "<p>we're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber, i mean baxter. we got no food we got no money and our pets heads are falling off! haaaaaaarry. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber.</p><p> brain freeze. excuse me, i'd like to ass you a few questions. kinda hot in these rhinos. here she comes to wreck the day. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. kinda hot in these rhinos. excuse me, i'd like to ass you a few questions. your entrance was good, his was better. your entrance was good, his was better. it's because i'm green isn't it! look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. look ma i'm road kill.</p>",
                    "summary": "We're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry....",
                    "title": "A Talented Squirrel",
                    "imageLink": {
                        "assetId": 4
                    },
                    "image": {
                        "assetId": 6
                    }
                    "link": {
                        "assetId": 4
                    }
                },
                "content": "<table data-assetid=\"8\"><tr><td><a data-field=\"imageLink\" href=\"{{imageLink}}\" target=\"{{imageLink.target}}\" title=\"{{imageLink.title}}\"><img data-field=\"image\" src=\"{{image}}\" alt=\"{{image.alt}}\" width=\"{{image.width}}\" height=\"{{image.height}}\"></a></td></tr><tr><td><p data-field=\"summary\" style=\"font-size:14px; color:#333333;\">{{summary}}</p></td></tr></table>"
            }

+ Response 201 (application/json)

        {
            "id": 8,
            "assetType": "article",
            "classification": "content",
            "version": 2,
            "key": "exampleBlogPost",
            "name": "Example Blog Post",
            "description": "Article about a squirrel who waterskis",
            "owner": {
                "Id": 1093028,
                "Email": "agillaspie@exacttarget.com",
                "Name": "Adam Gillaspie",
                "UserId": "cm-agillaspie"
            },
            "createdDate": "2014-01-30T11:18:31-06:00",
            "createdBy": {
                "Id": 1093028,
                "Email": "agillaspie@exacttarget.com",
                "Name": "Adam Gillaspie",
                "UserId": "cm-agillaspie"
            },
            "modifiedDate": "2014-01-31T10:13:53-06:00",
            "modifiedBy": {
                "Id": 1097912,
                "Email": "contentmanagement@exacttarget.com",
                "Name": "Content Management User",
                "UserId": "cm-contentuser"
            },
            "enterpriseId": 1084683,
            "memberId": 1084683,
            "status": "Active",
            "locked": false,
            "archived": false,
            "favorite": true,
            "category": {
                "id": 317,
                "name": "another",
                "tree": "/something/another"
            },
            "tags": [
                "squirrel",
                "waterski"
            ],
            "status": "Active",
            "locked": true,
            "archived": false,
            "favorite": false,
            "channels": {
                "email": true,
                "mms": false,
                "print": true,
                "push": true,
                "site": true,
                "sms": false,
                "social": true,
                "web": true
            },
            "campaigns": [
                38,
                82
            ],
            "customFields": {
                "PublisherId": 118
            },
            "contentFields": {
                "author": "Adam Gillaspie",
                "body": "<p>we're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber, i mean baxter. we got no food we got no money and our pets heads are falling off! haaaaaaarry. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber.</p><p> brain freeze. excuse me, i'd like to ass you a few questions. kinda hot in these rhinos. here she comes to wreck the day. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. kinda hot in these rhinos. excuse me, i'd like to ass you a few questions. your entrance was good, his was better. your entrance was good, his was better. it's because i'm green isn't it! look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. look ma i'm road kill.</p>",
                "summary": "We're going for a ride on the information super highway. we're going for a ride on the information super highway. your entrance was good, his was better. here she comes to wreck the day. we got no food we got no money and our pets heads are falling off! haaaaaaarry....",
                "title": "A Talented Squirrel",
                "imageLink": {
                    "assetId": 4,
                    "uri": "/assets/4"
                },
                "image": {
                    "assetId": 6,
                    "uri": "/assets/6"
                }
                "link": {
                    "assetId": 4,
                    "uri": "/assets/4"
                },
                "characterCount": 1239,
                "wordCount": 231
            },
            "content": "<table data-assetid=\"8\"><tr><td><a data-field=\"imageLink\" href=\"{{imageLink}}\" target=\"{{imageLink.target}}\" title=\"{{imageLink.title}}\"><img data-field=\"image\" src=\"{{image}}\" alt=\"{{image.alt}}\" width=\"{{image.width}}\" height=\"{{image.height}}\"></a></td></tr><tr><td><p data-field=\"summary\" style=\"font-size:14px; color:#333333;\">{{summary}}</p></td></tr></table>"
        }




# Group Data

The Data API lets you access, create search and update all data within the system in a consistent way.

## Searching Data [/mediadb/services/search/data] 

### Data Search [POST]

+ Request 

        {
        "searchtype":"convertpreset",
                "page": 1,
                "query": [
                    {
                        "field": "id",
                        "operator": "matches",
                        
                        "values": [
                            "*"                            
                        ]
                    }
                    
                ]
        }

+ Response 200 (application/json)

{
totalhits: 15,
searchtype: "convertpreset",
page: 1,
-results: [
-{
id: "previewffmpegthumb",
name: "Video Thumb",
inputtype: "video",
outputfile: "image1024x768.jpg",
fileexportformat: "${filename}1024x768.jpg",
type: "ffmpegimage",
guid: "previewffmpegthumb",
onimport: "true",
ordering: "10",
display: "true",
singlepage: "true"
},
-{
id: "1",
name: "Video HQ MP4",
inputtype: "video",
outputfile: "video1080p.mp4",
fileexportformat: "${filename}1080p.mp4",
type: "ffmpeg",
guid: "ffmpeg1080p",
onimport: "ffmpeg1080p",
ordering: "09",
display: "true",
singlepage: "true"
},
-{
id: "2",
name: "Video HQ AVI",
inputtype: "video",
outputfile: "video720p.avi",
fileexportformat: "${filename}HQ.avi",
type: "ffmpeg",
guid: "ffmpeg720p",
onimport: "ffmpeg720p",
ordering: "08",
display: "true",
singlepage: "true"
},
-{
id: "previewflv",
name: "Video FLV",
inputtype: "video",
outputfile: "preview.flv",
fileexportformat: "${filename}.flv",
type: "ffmpeg",
guid: "ffmpegpreviewmp4",
onimport: "ffmpegpreviewmp4",
ordering: "07",
display: "true",
singlepage: "true"
},
-{
id: "imagepreviewfpo",
name: "Image Large FPO",
inputtype: "image",
outputfile: "image1024x768wm.jpg",
fileexportformat: "${filename}1024x768-fpo.jpg",
type: "imagemagick",
guid: "imagepreviewfpo",
onimport: "false",
ordering: "06",
display: "true",
singlepage: "true"
},
-{
id: "mp3audio",
name: "Mp3 Audio",
inputtype: "audio",
outputfile: "audio.mp3",
fileexportformat: "${filename}.mp3",
type: "audio",
guid: "mp3audio",
onimport: "true",
ordering: "06",
display: "06",
singlepage: "06"
},
-{
id: "previewffmpeg",
name: "Video MP4 Preview",
inputtype: "video",
outputfile: "video.mp4",
fileexportformat: "${filename}proxy.mp4",
type: "ffmpeg",
guid: "ffmpeg480p",
onimport: "true",
ordering: "06",
display: "true",
singlepage: "true"
},
-{
id: "cropdocument",
name: "Document Crop",
inputtype: "document",
outputfile: "image110x62cropped.jpg",
fileexportformat: "${filename}110x62cropped.jpg",
type: "imagemagick",
guid: "imagecrop",
onimport: "true",
ordering: "05",
display: "true",
singlepage: "true"
},
-{
id: "imagecrop",
name: "Small Crop",
inputtype: "image",
outputfile: "image110x62cropped.jpg",
fileexportformat: "${filename}110x62cropped.jpg",
type: "imagemagick",
guid: "imagecrop",
onimport: "true",
ordering: "05",
display: "true",
singlepage: "true"
},
-{
id: "largedocument",
name: "Document Preview",
inputtype: "document",
outputfile: "image1024x768.jpg",
fileexportformat: "${filename}.jpg",
type: "imagemagick",
guid: "imagepreview",
onimport: "true",
ordering: "04",
display: "true",
singlepage: "true"
},
-{
id: "thumbimage",
name: "Image Thumbnail",
inputtype: "image",
outputfile: "image200x200.jpg",
fileexportformat: "${filename}200x200.jpg",
type: "imagemagick",
guid: "imagethumb",
onimport: "true",
ordering: "04",
display: "true",
singlepage: "true"
},
-{
id: "mediumimage",
name: "Image Medium",
inputtype: "image",
outputfile: "image550x350.jpg",
fileexportformat: "${filename}550x350.jpg",
type: "imagemagick",
guid: "imagemedium",
onimport: "true",
ordering: "03",
display: "true",
singlepage: "true"
},
-{
id: "largeimage",
name: "Image Large",
inputtype: "image",
outputfile: "image1024x768.jpg",
fileexportformat: "${filename}1024x768.jpg",
type: "imagemagick",
guid: "imagepreview",
onimport: "true",
ordering: "02",
display: "true",
singlepage: "true"
},
-{
id: "attachments",
name: "Attachments",
inputtype: "all",
outputfile: "all",
fileexportformat: "all",
type: "original",
guid: "original",
onimport: "original",
ordering: "01",
display: "01",
singlepage: "01"
},
-{
id: "0",
name: "Original Format",
inputtype: "all",
outputfile: "all",
fileexportformat: "all",
type: "original",
guid: "original",
onimport: "original",
ordering: "00",
display: "00",
singlepage: "00"
}
]
}






